# Ignore any pre-compiled python binary files
*.pyc

# Ignore databases
image_cache.sqlite
image_cache.sqlite-journal

# Ignore any report files generated
img_util_*
gen_database_*

# Ignore the comipled artifacts
build/